@model List<Bill_transaction>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData[" MsgType"]">
        @TempData["Message"]
    </div>
}

<h2>Transactions</h2>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th scope="col" width="20%">Bill Transaction ID</th>
            <th scope="col" width="20%">Prescription ID</th>
            <th scope="col" width="20%">Queue No.</th>
            <th scope="col" width="20%">Actions</th>
        </tr>
    </thead>
    @foreach (Bill_transaction i in Model)
    {
        <tbody>
            <tr scope="row">
                <td width="20%">@i.Bill_transaction_id</td>
                <td width="20%">@i.Prescription_id</td>
                <td width="20%">@i.Queue_id</td>
                <td width="20%">@Html.ActionLink("Print", "Export", new { id = i.Bill_transaction_id })</td>
            </tr>
        </tbody>
    }
</table>